*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font: 10px;
}

body {
  font-family: sans-serif;
}

/* header.pug */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 4rem;
  background-color: #325886;
  color: #fef265;
}

.header ul {
  display: flex;
  padding: 0 2rem;
  list-style: none;
}

.header li {
  padding: 0.5em 1rem;
}

.header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header a:hover {
  color: #fef265;
}

.title {
  font-size: 1.5rem;
}

@media (max-width: 590px) {
  .header {
    padding: 1.5rem;
  }

  .header ul {
    padding: 0 0.5rem;
  }

  .header li {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .dropdown-menu {
    left: 68%;
    margin-top: 5px;
  }
}

@media (max-width: 380px) {
  .title {
    font-size: 0.9rem;
  }

  .header li {
    font-size: 0.7rem;
  }
}

.dropdown {
  display: inline-block;
  text-align: center;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #447ab9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}

.dropdown-menu a {
  color: white;
  margin: 14px;
  padding: 2px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* weapons.pug */
.h2-header {
  color: #447ab9;
}

.weapons-container {
  padding: 2rem;
}

.weapons-container li {
  list-style: none;
  padding: 0.5em 0;
}

.weapons-container li a {
  display: inline-block;
  font-weight: bolder;
  width: 80%;
  padding: 15px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
}

.weapons-container li a:hover {
  background-color: #fef265;
}

.weapon {
  font-size: 1rem;
  font-weight: 500;
}

.center {
  margin: 0 auto;
  width: 80%;
  padding: 4rem;
}

/* footer.pug */
.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #325886;
  color: #fef265;
  text-align: center;
  font-weight: bolder;
  padding: 1rem;
}

/* category.pug */
.empty {
  font-size: 1rem;
  color: black;
  padding: 1.5em 1rem;
}

/* weapons_detail.pug */
.table-header {
  color: white;
  background-color: #d9af2f;
  text-align: center;
  padding: 8px;
}

.center-img {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-bottom: 0;
}

.image {
  height: 60%;
  width: 60%;
}

.buttons-container {
  padding: 2em 0;
  display: flex;
  justify-content: space-around;
}

.delete-btn,
.update-btn {
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.delete-btn {
  background-color: #447ab9;
}

.update-btn {
  background-color: #d9af2f;
}

.delete-btn:hover {
  background-color: #325886;
}

.update-btn:hover {
  background-color: #be9312;
}

@media (max-width: 768px) {
  .image {
    height: 100%;
    width: 100%;
  }
}

/* weapon_form */
label {
  font-weight: bold;
}

input,
select {
  margin: 0.2em 0;
  border-radius: 4px;
  border: 1px solid black;
  padding: 6px;
}

.container {
  padding: 2rem;
}

.submit-button {
  padding: 8px 16px;
  border: none;
  background: #4d88d1;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.3s;
}

.submit-button:hover {
  background: #36659e;
}

/* weapon_delete.pug container */
.delete-container {
  width: 70%;
  margin: 0 auto;
  padding: 2em 0;
}

.delete-container button {
  border: none;
}

 